@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .remove-arrow::-webkit-inner-spin-button,
  .remove-arrow::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .remove-arrow {
      -moz-appearance: textfield;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
  html {
    /* background-color: rgb(17, 24, 39); */
  }
